<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Register</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Register</h1>-->
<!--<form action="/hh" method="post">-->
<!--    <div>-->
<!--        <label for="username">Username:</label>-->
<!--        <input type="text" id="username" name="username" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password">Password:</label> &lt;!&ndash; 确保是 'Password' 而不是 'Password2' &ndash;&gt;-->
<!--        <input type="password" id="password" name="password" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit">Register</button>-->
<!--    </div>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<form th:action="@{/hh}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>